<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <proxies>
        <proxy>
            <id>default</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>127.0.0.1</host>
            <port>18080</port>
        </proxy>
        <proxy>
            <id>default-https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>127.0.0.1</host>
            <port>18080</port>
        </proxy>
    </proxies>
    <mirrors>
        <mirror>
            <id>google</id>
            <mirrorOf>central</mirrorOf>
            <name>Google Maven Mirror</name>
            <url>https://maven-central.storage-download.googleapis.com/maven2/</url>
        </mirror>
    </mirrors>
</settings>